
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.navbar{



    display: flex;
    flex-direction: row;
    background-color:#2c3e50;
    width: 100%;
    height: 8vh;
    justify-content:space-between ;
  
}
.navbar h1{ 

    color: white;
   
    
}
.nav{
    justify-self: flex-end;
}

main{
    background-color: #3f3e3e;
}



/* START OF MEMEBER PAGE */
.tabletitle{
    caption-side: top;
    padding-bottom: 5px;
    color:white;
    font-weight: bold;

}

#members{
 
}

.tablecontainer{

  display: flex;

    padding-top: 70px;

  justify-self: center;
  align-items: center;

}

.tablecontainer table, td, th{ 
    
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    background-color: white;
    
    padding: 8px;

    

}












/* END MEMEBER PAGE */



/* START OF ATTENDANCE PAGE */

#attTable{

    border-collapse: collapse;
    height: 100vh;
}

.selected-row {
    background-color: lightcoral !important;
  }



/* END OF ATTENDANCE PAGE */




/* START OF SCANNER PAGE */
.scanbkg{
    
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
     
}

.scan{

    position: absolute;
    color: white;
    font-weight: bolder;


}

/* END OF SCANNER PAGE */